<!DOCTYPE html>
<html lang="en">
<head>
    {{>headlinks}}
</head>

<body>
    {{>navbarIn}}
   {{!-- <img src="image/b.jpg" class="img-fluid my-3" alt="..."> --}}
   <h1>Hello</h1>
   {{>footer}}

<!-- MDB -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.js"></script>

</body>
</html>